*{
  margin: 0;
  padding: 0;
}
:root{

}
body.light-theme{
  --body-bg: rgba(245, 222, 179, 0.575);
  --text-color: black;
  --header-bg: rgb(248, 217, 217);
  --header-box-shadow: 3px 3px 10px #00000052;
  --icons-shadow:inset 1px 1px 3px #00000071,
  inset -1px -1px 3px #00000071;
  --icon-text-shadow: 1px 1px 5px #333;
  
}
body.dark-theme {
  --text-color: white;
  --body-bg: #1c005c;
  --header-bg: rgb(33, 33, 34);
  --header-box-shadow: 3px 3px  10px #ffffff7c;
  --icons-shadow:  2px 2px 10px #03a9eb,
  -2px -2px 10px #03a9eb;
  --icon-color: #03a9eb;
  --icon-text-shadow: #03a9eb;
  --icon-text-shadow: 1px 1px 5px #03a9eb;
    
}

body{
  font-family: cursive;
  background: var(--body-bg);
}
header{
  z-index: 2;
  width: 100%;
  height: 75px;
  background-color: var(--header-bg);
  box-shadow: var(--header-box-shadow);
  display: flex;
  transition: 0.3s;
  position: fixed;
  top: 0;
}
header.scrolled{
  height: 50px;
}
header nav{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
header nav .logo{
  width: 75px;
  height: 75px;
  transition: 0.3s;
  margin-left: 5%;
}
header.scrolled .logo{
  width: 50px;
  height: 50px;
}
header nav .logo img{
  width: 100%;
  height: 100%;
  filter: drop-shadow(var(--header-box-shadow));
}
header nav .navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}
header nav .navigation ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
header nav .navigation ul li a{
  color: var(--text-color);
  text-shadow: var(--icon-text-shadow);
  text-decoration: none;
}
header nav #theme-toggle{
  background: #fff;
  box-shadow: var(--icons-shadow);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav #theme-toggle button{ 
  background: transparent;
  border: none;
}
header nav #theme-toggle button i{
  color: #000;
  font-size: 19px;
  cursor: pointer;
}
header.scrolled .hamburger{
  width: 50px;
  height: 50px;
}
header .hamburger{
  width: 75px;
  height: 75px;
  position: fixed;
  top: 0%;
  right: 5%;
  z-index: 9;
  display: none;
  justify-content: center;
  align-items: center;
}
header .hamburger .hamburger-inner{
  
  border: 4px solid crimson;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  animation: hamburger 3s linear infinite;
} 
@keyframes hamburger {
  0%{
    width: 30px;
    height: 30px;
  }
  100%{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(220, 20, 60, 0.13);
  }
}
header .hamburger .hamburger-inner .hamburger-btn{
} 
header.scrolled .hamburger .hamburger-inner .hamburger-btn button{
  width: 30px;
  height: 30px;
}
header.scrolled .hamburger .hamburger-inner .hamburger-btn button i{
  font-size: 14px;
}
header .hamburger .hamburger-inner .hamburger-btn button{
  background: crimson;
  width: 40px;
  transition: 0.3s;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
} 
header .hamburger .hamburger-inner .hamburger-btn button i{
  color: #fff;
  font-size: 19px;
} 

.web-menu{
  text-align: center;
  position: relative;
}
.web-menu span.links-title{
  background: #000;
  font-size: 14px;
  position: absolute;
  bottom: -180%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  padding: 3px 5px;
  transition: 0.3s;
  display: none;
}
.web-menu span.links-title::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #000;
  top: 0%;
  z-index: -3;
  left: 45%;
  transform: rotate(45deg) translateX(-50%);
  
}
.web-menu:hover .links-title{
  display: block;
}
.mobile-navigation{
  /* display: none; */
  position: absolute;
  width: 100%;
  z-index: 9;

  background-color: #000;
  text-align: center;
  transform: translateY(-200%);
  transition: 0.3s;
}
.mobile-navigation ul li{
  width: 100px;
  height: 30px;
  margin: 20px auto;
  list-style: none;
}
.mobile-navigation ul li a{
  color: #fff;
  display: flex;
  position: relative;
}
.mobile-navigation ul li a::after{
  position: absolute;
  content: "";
  width: 0;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  border-radius: 10px;
  transition: 0.3s;
  background: #fff;
}
.mobile-navigation ul li a:hover:after{
  width: 100%;
}
.mobile-navigation ul li a span.links-title{
  display: block;
  position: absolute;
  top: 0;
  left: 70px;
  background: none;
}
@media (max-width:817px){
  header nav{
    gap: 50px;
  }
}
@media (max-width:1017px){
  header nav .navigation ul{
    gap: 20px;
  }
}
@media (max-width:642px){
  header .hamburger{
    display: flex;
  }
  .mobile-navigation.active{
    transform: translateY(-40%);
    display: block;
  }
  
  header nav .navigation{
    
    display: none;
  }
  header nav{
    gap: 100px;
  }
}