* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
:root {
  --theme-button-bg: #000;
  --image-color: #c49b76;
  --header-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  --header-bg: #fffafab2;
  --para: #444;
  --button: #eee;
}
body.dark-theme {
  --button: #111;
  --para: #ccc;
  --header-bg: rgba(255, 255, 255, 0.178);
  --theme-button-bg: #fff;
  --header-box-shadow: 3px 3px 5px rgba(225, 225, 225, 0.2);
  background: black;
}

section {
  margin: 100px 0;
}
body {
  transition: 0.3s;
}
.fa-sun {
  color: #fff;
}
.fa-moon {
  color: #000;
}
.theme button {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: none;
  background-color: var(--theme-button-bg);
  cursor: pointer;
  box-shadow: var(--icons-box-shows);
}
.theme button i {
  font-size: 19px;
}

/* Nav bar Section */

header {
  width: 100%;
  height: 12vh;
  background: var(--header-bg);
  backdrop-filter: blur(10px);
  box-shadow: var(--header-box-shadow);
  display: flex;
}
header nav {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 70px;
  height: 70px;
}
header nav .logo img {
  width: 100%;
  height: 100%;
}
header nav .links {
}
header nav .links ul {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
header nav .links ul li a {
  text-decoration: none;
  color: var(--para);
  position: relative;
  cursor: pointer;
  font-size: 1.8vw;
}
header nav .links ul li a::after {
  transition: 0.3s;
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 0%;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background: var(--para);
}
header nav .links ul li a:hover::after {
  width: 100%;
}
header nav .theme {
  float: right;
}
.hamburger {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s ease-in-out;
  display: none;
}
.hamburger.active {
  transform: translateY(0);
  z-index: 1;
}
#hamburger-menu-icon {
  display: none;
  cursor: pointer;
  box-shadow: var(--icons-box-shows);
  z-index: 2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 22px;
  background-color: var(--theme-button-bg);
}
#hamburger-menu-icon i {
  color: var(--button);
}
.hamburger .links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.hamburger .links ul li a {
  text-decoration: none;
  color: var(--para);
  position: relative;
  cursor: pointer;
  font-size: 1.8vw;
}
.hamburger .links ul li a::after {
  transition: 0.3s;
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 0%;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background: var(--para);
}
.hamburger .links ul li a:hover::after {
  width: 100%;
}
@media (max-width: 600px) {
  #hamburger-menu-icon {
    display: block;
  }
  .hamburger{
      display: block;
    }
    .hamburger .links{
        margin: 20px 0;
    }
  nav .links{
    display: none;
  }
}
/* Home Section */

.first-page {
}
.first-page .container {
  width: 80%;
  margin: auto;
  display: flex;
}

.first-page .container .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.first-page .container .content h1 {
  font-size: 4vw;
  color: gold;
  text-shadow: 1px 1px 3px rgba(220, 20, 60, 0.548);
}
.first-page .container .content h1 span {
  color: #c49b76;
}
.first-page .container .content p {
  color: var(--para);
  font-size: 1.6vw;
}
.first-page .container .content .buttons {
  display: flex;
  gap: 40px;
}
.first-page .container .content .buttons button {
  font-size: 2vw;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  color: var(--button);
  transition: 0.3s;
  background: #c49b76;
  border-radius: 10px;
}
.first-page .container .content .buttons button:hover {
  background: none;
  color: var(--para);
  border: 1px solid #c49b76;
}
.first-page .container .content .buttons .primary {
  background: none;
  border: 1px solid #c49b76;
  color: var(--para);
}
.first-page .container .content .buttons .primary:hover {
  background: #c49b76;
  color: var(--button);
}
.first-page .container .content-img {
  width: 50%;
}
.first-page .container .content-img img {
  width: 100%;
}
.first-page .container .content-img img.numpy {
}
.first-page .container .content-img img.matplot {
}
.first-page .container .content-img img.pandas {
}
